body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.contenedor-calculadora {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width: 250px;
}

#pantalla {
    width: 92%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    border-spacing: 8px; /* Espacio entre botones */
}

button {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    color: white;
    cursor: pointer;
}


.btn-azul { background-color: #4A90E2; box-shadow: 0px 4px #357ABD; }
.btn-verde { background-color: #7ED321; box-shadow: 0px 4px #69B01C; }
.btn-naranja { background-color: #F5A623; box-shadow: 0px 4px #D48C1C; }


.vestimenta-boton-borrar {
    color: white;
    font-family: arial;
    font-weight: bold;
    font-size: 70%;
    background-color: red;
    box-shadow: 0px 5px #BB3E22;
    width: 100%;
    height: 30px;
    border-radius: 6px;
    margin-top: 10px;
}

button:active {
    transform: translateY(2px);
    box-shadow: 0px 2px #333;
}